<table>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.genre %></td>
      <td><%= restaurant.phone %></td>
      <td><%= restaurant.address %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% if user_signed_in? %>
        <td>
          <%= div_for restaurant do %>
            <%= render partial: "stars/button", locals: { restaurant: restaurant } %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
