<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<% if user_signed_in? %>
  <%= link_to current_user.first_name + ' ' + current_user.last_name, edit_user_registration_path %>
  <%= link_to 'Dashboard', dashboard_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
<h1>All Restaurants</h1>
<%= link_to 'New Restaurant', new_restaurant_path %>
<%= render 'restaurants/list' %>
<%= link_to 'Back', controller: 'welcome' %>
